<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DIU_Transport">

        <!-- For 1st (Loading Screen) -->
        <activity
            android:name=".activity.home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- For 2nd Login activity -->
        <activity
            android:name=".activity.auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- For Signup Activity -->
        <activity
            android:name=".activity.auth.SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- For Home Activity (Dashboard) -->
        <activity
            android:name=".activity.home.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- For Apply/Renew Transport Activity -->
        <activity
            android:name=".activity.transport.ApplyTransportActivity"
            android:exported="false" />

        <!-- For Bus Schedule Activity -->
        <activity
            android:name=".activity.transport.BusScheduleActivity"
            android:exported="false" />

        <!-- For Complain Activity -->
        <activity
            android:name=".activity.complaint.ComplainActivity"
            android:exported="false" />

        <!-- For Previous Complain Activity -->
        <activity
            android:name=".activity.complaint.PreviousComplainActivity"
            android:exported="false" />

        <!-- For Report Activity -->
        <activity
            android:name=".activity.complaint.ReportActivity"
            android:exported="false" />

        <!-- For Notice Activity -->
        <activity
            android:name=".activity.notice.NoticeActivity"
            android:exported="false" />

        <!-- For Emergency Helpline Activity -->
        <activity
            android:name=".activity.emergency.EmergencyActivity"
            android:exported="false" />

        <!-- For Change Password Activity -->
        <activity
            android:name=".activity.auth.ChangePasswordActivity"
            android:exported="false" />

        <!-- For Update Profile Activity -->
        <activity
            android:name=".activity.action.UpdateProfileActivity"
            android:exported="false" />

        <!-- For Admin Dashboard Activity -->
        <activity
            android:name=".activity.home.AdminDashboardActivity"
            android:exported="false" />

        <!-- For Driver Activity -->
        <activity
            android:name=".activity.action.DriverActivity"
            android:exported="false" />

        <!-- For Add Driver Activity -->
        <activity
            android:name=".activity.action.AddDriverActivity"
            android:exported="false" />

        <!-- For View Drivers Activity -->
        <activity
            android:name=".activity.action.ViewDriversActivity"
            android:exported="false" />

        <!-- For Delete Driver Activity -->
        <activity
            android:name=".activity.action.DeleteDriverActivity"
            android:exported="false" />

        <!-- For Route Activity -->
        <activity
            android:name=".activity.transport.RouteActivity"
            android:exported="false" />

        <!-- For Add Route Activity -->
        <activity
            android:name=".activity.transport.AddRouteActivity"
            android:exported="false" />

        <!-- For Update Route Activity -->
        <activity
            android:name=".activity.transport.UpdateRouteActivity"
            android:exported="false" />

        <!-- For Delete Route Activity -->
        <activity
            android:name=".activity.transport.DeleteRouteActivity"
            android:exported="false" />

        <!-- For Admin Notice Activity -->
        <activity
            android:name=".activity.notice.AdminNoticeActivity"
            android:exported="false" />

        <!-- For Add Notice Activity -->
        <activity
            android:name=".activity.notice.AddNoticeActivity"
            android:exported="false" />

        <!-- For View Notice Activity -->
        <activity
            android:name=".activity.notice.ViewNoticeActivity"
            android:exported="false" />

        <!-- For Delete Notice Activity -->
        <activity
            android:name=".activity.notice.DeleteNoticeActivity"
            android:exported="false" />

        <!-- For Admin Complain Activity -->
        <activity
            android:name=".activity.complaint.AdminComplainActivity"
            android:exported="false" />

        <!-- For Driver Dashboard Activity -->
        <activity
            android:name=".activity.driver_screen.DriverDashboardActivity"
            android:exported="false" />

        <!-- For Driver Schedule Activity -->
        <activity
            android:name=".activity.driver_screen.DriverScheduleActivity"
            android:exported="false" />

        <!-- For Driver Notice Activity -->
        <activity
            android:name=".activity.driver_screen.DriverNoticeActivity"
            android:exported="false" />

        <!-- For Driver Complain Activity -->
        <activity
            android:name=".activity.driver_screen.DriverComplainActivity"
            android:exported="false" />

        <!-- For Driver Previous Complain Activity -->
        <activity
            android:name=".activity.driver_screen.DriverPreviousComplainActivity"
            android:exported="false" />

        <!-- For Driver Report Activity -->
        <activity
            android:name=".activity.driver_screen.DriverReportActivity"
            android:exported="false" />

        <!-- For Driver Update Profile Activity -->
        <activity
            android:name=".activity.driver_screen.DriverUpdateProfileActivity"
            android:exported="false" />

        <!-- For Driver Change Password Activity -->
        <activity
            android:name=".activity.driver_screen.DriverChangePasswordActivity"
            android:exported="false" />
    </application>

</manifest>