<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DIU_Transport">

        <!-- For 1st (Loading Screen) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- For 2nd Login activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- For Signup Activity -->
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- For Home Activity (Dashboard) -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- For Apply/Renew Transport Activity -->
        <activity
            android:name=".ApplyTransportActivity"
            android:exported="false" />

        <!-- For Bus Schedule Activity -->
        <activity
            android:name=".BusScheduleActivity"
            android:exported="false" />

        <!-- For Complain Activity -->
        <activity
            android:name=".ComplainActivity"
            android:exported="false" />

        <!-- For Previous Complain Activity -->
        <activity
            android:name=".PreviousComplainActivity"
            android:exported="false" />

        <!-- For Report Activity -->
        <activity
            android:name=".ReportActivity"
            android:exported="false" />

        <!-- For Notice Activity -->
        <activity
            android:name=".NoticeActivity"
            android:exported="false" />

        <!-- For Emergency Helpline Activity -->
        <activity
            android:name=".EmergencyActivity"
            android:exported="false" />

        <!-- For Change Password Activity -->
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />

        <!-- For Update Profile Activity -->
        <activity
            android:name=".UpdateProfileActivity"
            android:exported="false" />

        <!-- For Admin Dashboard Activity -->
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />

        <!-- For Driver Activity -->
        <activity
            android:name=".DriverActivity"
            android:exported="false" />

        <!-- For Add Driver Activity -->
        <activity
            android:name=".AddDriverActivity"
            android:exported="false" />

        <!-- For View Drivers Activity -->
        <activity
            android:name=".ViewDriversActivity"
            android:exported="false" />

        <!-- For Delete Driver Activity -->
        <activity
            android:name=".DeleteDriverActivity"
            android:exported="false" />

        <!-- For Route Activity -->
        <activity
            android:name=".RouteActivity"
            android:exported="false" />

        <!-- For Admin Notice Activity -->
        <activity
            android:name=".AdminNoticeActivity"
            android:exported="false" />

        <!-- For Admin Complain Activity -->
        <activity
            android:name=".AdminComplainActivity"
            android:exported="false" />

    </application>

</manifest>